body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding:10px;
  margin:auto;
  max-width: 80%;
  
}

/* GLOBAL */
.container {
  width: 100%;
  margin:auto;
  overflow:hidden;
  
}

/* HEADER */
header {
  background: #431906;
  color: #337616;
  padding-top: 15px;
  min-height:50px;
  border-bottom:#337616 6px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size:16px;
  font-weight: bold;
}

header ul {
  margin:0;
  padding:0;
}

header li{
  
  display: inline;
  padding: 20px;
  margin-right: 20px;
}

header #branding {
  float:left;
}

header #branding h1 {
  margin:0;
  padding-left:20px;
}
header nav{
  float:right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #46C211;
  font-weight: bold;
}

header a:hover{
  color:rgb(49, 53, 124);
  font-weight: bold;
}

/* SHOWCASE */

#showcase {
  min-height:840px;
  background: url('./Images/showcase.jpg') no-repeat 0 -10px;
  text-align: center;
  color:#f8f6f6;
  text-shadow: 2px 2px #103f1a;
  border-bottom:#337616 8px solid;
}


#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p {
  font-size:20px;
  max-width: 70%;
  text-align: right;
  margin: auto;
}

#boxes {
  margin-top: 20px;
  min-height: 425px;
}

#boxes .box{
  float: left;
  width: 30%;
  text-align: center;
  padding: 10px;
  

}

#boxes .box img{
  max-height: 200px;
}

#boxes .box p {
  padding: 20px;
}

section #about {
  background-color: rgb(108, 155, 108);
}

section #about h5 {
  margin: -10px 0px 0px 0px;
}
section #about #firstP{
  padding-top: 70px;
}
.owner {
  float: left;
  
}
section #about img {
  padding: 15px;
  
}
section #gallery .container{
  float:clear;
  max-width: 100%;
  margin: auto;
}

#wrapper {
  width: 65%;
  
}

.main-img img{
  width: 100%;
  
}
.imgs img {
  width: 100%;
  margin: auto;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}



